In [11]:
import pandas as pd
import numpy as np

df_fraud=pd.read_csv("../data/processed/fraud_final.csv")
df_fraud.sample(3)

,user_id,purchase_value,age,ip_address,class,ip_int,lower_bound_ip_address,upper_bound_ip_address,country,hour_of_day,...,tx_1h,tx_24h,sex_M,browser_FireFox,browser_IE,browser_Opera,browser_Safari,source_Direct,source_SEO,device_id_freq
98582,0.912279,-0.487640,-1.175636,-0.595867,0,-0.595867,-0.593709,-0.597887,United States,11,...,0.0,0.0,True,False,False,False,True,False,True,0.000008
69518,0.130958,-0.433048,1.377971,-1.560130,0,-1.560130,-1.570118,-1.562635,United States,22,...,0.0,0.0,False,False,False,False,False,False,False,0.000008
105451,1.095022,-1.088151,0.565460,0.136388,0,0.136388,0.137632,0.136559,Korea Republic of,9,...,0.0,0.0,True,False,True,False,False,False,True,0.000008

In [2]:
# =====================================
# Frequency Encoding for device_id
# =====================================

# 1. Check cardinality (optional but good practice)
print("Unique device_ids:", df_fraud['device_id'].nunique())

# 2. Compute frequency of each device_id
device_freq = (
    df_fraud['device_id']
    .value_counts(normalize=True)
)

# 3. Map frequencies to a new column
df_fraud['device_id_freq'] = (
    df_fraud['device_id']
    .map(device_freq)
)

# 4. Sanity checks
print("Missing after encoding:", df_fraud['device_id_freq'].isna().sum())
print(df_fraud[['device_id', 'device_id_freq']].head())

# 5. Drop original device_id
df_fraud.drop(columns=['device_id'], inplace=True)

Unique device_ids: 118434
Missing after encoding: 0
       device_id  device_id_freq
0  FGBQNDNBETFJJ        0.000008
1  MKFUIVOHLJBYN        0.000008
2  SCQGQALXBUQZJ        0.000008
3  MSNWCFEHKTIOY        0.000008
4  FROZWSSWOHZBE        0.000008

In [3]:
df_fraud = df_fraud.to_csv("../data/processed/fraud_final.csv", index=False)
print ("Final processed data saved to fraud_final.csv")

Final processed data saved to fraud_final.csv

In [16]:
# =====================================
# Frequency Encoding for country
# =====================================

if 'country' in df_fraud.columns:
    # 1. Check number of unique countries
    print("Unique countries:", df_fraud['country'].nunique())

    # 2. Compute frequency distribution
    country_freq = (
        df_fraud['country']
        .value_counts(normalize=True)
    )

    # 3. Map frequencies to new column
    df_fraud['country_freq'] = (
        df_fraud['country']
        .map(country_freq)
    )

    # 4. Sanity checks
    print("Missing after encoding:", df_fraud['country_freq'].isna().sum())
    print(df_fraud[['country', 'country_freq']].head())

    # 5. Drop original country column
    df_fraud.drop(columns=['country'], inplace=True)
else:
    print("Country column already processed or not present.")

Country column already processed or not present.

In [17]:
df_fraud.head()

,user_id,purchase_value,age,ip_address,class,ip_int,lower_bound_ip_address,upper_bound_ip_address,hour_of_day,day_of_week,...,tx_24h,sex_M,browser_FireFox,browser_IE,browser_Opera,browser_Safari,source_Direct,source_SEO,device_id_freq,country_freq
0,-1.734844,0.931750,-0.943490,-0.933077,0,-0.933077,-0.937189,-0.927856,10,5,...,0.0,False,False,False,False,False,False,True,0.000008,0.449484
1,-1.734826,0.222055,0.565460,0.822989,0,0.822989,0.823144,0.822623,21,5,...,0.0,False,False,False,False,True,True,False,0.000008,0.006078
2,-1.734792,0.549607,-0.943490,-1.416084,0,-1.416084,-1.415745,-1.407811,11,3,...,0.0,True,False,False,False,False,False,True,0.000008,0.449484
3,-1.734757,-0.105497,-1.639928,1.006618,0,1.006618,1.006703,1.006477,20,2,...,0.0,True,False,False,False,True,False,False,0.000008,0.008680
4,-1.734722,-1.524887,-0.130978,-1.211278,0,-1.211278,-1.215060,-1.206539,12,3,...,0.0,True,False,True,False,False,True,False,0.000008,0.449484

In [18]:
df_fraud = df_fraud.to_csv("../data/processed/fraud_final.csv", index=False)
print ("Final processed data saved to fraud_final.csv")

Final processed data saved to fraud_final.csv